extends layout

block content
  .cards
    .card
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
    .card
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
    .card
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
    .card
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
      div
        | Tweet your pictures with the hashtag
        span.ht
          | #RyanAndCait2016
        | to have them saved for a digital photo album!
